.logo {
    display: inline-block;
    width: 125px;
}

.profile-image {
    border-radius: 500px;
    width: 100px;
    border: 4px solid black;
}

.name,
.subcribe {}

.menu {
    list-style: none;
    font-size: 20px;
}

.menu li {
    margin-bottom: 35px;
}